h1 {
  font-family: fantasy;
}

button {
  background-color: navy;
  color: white;
}

textarea {
  background-color: ivory;
}

body {
  background-color: beige;
}

.home {
  float: right;
  height: 100%;
  width: 80%;
}

.todo {
  height: 20%;
  width: 200px;
  background-color: pink;
  font-style: oblique;
}


.sidenav {
  padding: 10px;
  height: 200%;
  width: 30%;
  postion: fixed;
  background-color: ivory;
  font-size: 30px;
  font-family:monospace;

}

.asteroid {
  float: right;
  height: 100%;
  width: 80%;
}

.spacenav {
  padding: 10px;
  height: 200%;
  width: 30%;
  postion: fixed;
  font-size: 30px;
  font-family:monospace;

}

a:link {
  color: hotpink;
}

/* visited link */
a:visited {
  color: hotpink;
}

/* mouse over link */
a:hover {
  color: blue;
}

/* selected link */
a:active {
  color: blue;
}

canvas {
  background-color: silver;
}
